
.header  {
  width: 1900px;
  height: 53px;
  background-color: black;
}
.heading{
    font-family: 'Source Sans Pro', sans-serif;
    size:12px;
    line-height:22px;
}
/*Styling the last footer*/
.customDiv {
  width: 118.75rem;
  height:281.25rem ;
}

/*Styling the contanct and social media footer*/