
.header  {
  width: 1900px;
  height: 53px;
  background-color: black;
}
.heading{
    font-family: 'Source Sans Pro', sans-serif;
    size:12px;
    line-height:22px;
}
/*Styling the last footer*/
.customDiv {
  width: 118.75rem;
  height:281.25rem ;
}

/*Styling the contanct and social media footer*/

.social {
  width:118.75rem ;
  height: 26.5625rem;
  background-color: black;
   font-family: 'Dosis', sans-serif;

}
/*Styling the contact section under NATEB*/
.social h1 {
  font-family: 'Dosis', sans-serif;
  .N-a-T-e-B {
  width: 7.3125rem;
  height: 1.3125rem;
  font-family: Dosis;
  font-size: 1.875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.09375rem;
  text-align: left;
  color: white;
  
}
}

.header {
  width: 118.75rem;
  height:3.3125rem ;
  background-color: black;
}
/*Styling my INSTAGRAM container*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.625rem ;
  background-color:black ;
  padding: 10px;
}

.grid-container > div {
  .Image-Holder 
  width: 5rem;
  height: 5rem;
  background-color: white;
}
}